<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/cardui.css">
   
    
</head>
<body>
    <div class="container">
        <div class="card">
         <div class=" imgBx">
           <img src="NHL20.jpg">
           </div> 
           <div class="contentBx">
               <h2>NHL20</h2>
           <div class="cantidad">
               <h3>Cantidad</h3>
               <span>1</span>
               <span>2</span>
               <span>3</span>
               <span>4</span>
               <span>5</span>
           </div>
           <div class="consola">
            <h3>Consola</h3>
            <img src="xbox.jpg">
            <img src="PlayStation.png">
            <img src="Switch.png">
            
        </div>
        <a href="#">Comprar ahora</a>
           </div>
           </div>    
         </div>
        </div>
       
       
    
</body>
</html>